<<<<<<< HEAD
swagger: "2.0"
info:
  title: Directory API
  description: Web API to search the OSU Online Directory.
  version: "v2"
=======
swagger: '2.0'
info:
  title: Express API Skeleton
  description: Skeleton for Express APIs
  version: v1
>>>>>>> skeleton/master
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
<<<<<<< HEAD
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/directory-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v2
produces:
  - application/json
paths:
  /directory:
    get:
      tags:
        - directory
      operationId: getBySearchQuery
      description: Get entries in directory matching all terms in search query
      produces:
        - application/json
      parameters:
        - name: q
          in: query
          description: |
            For basic directory searches. Searches by username, full name,
            and email address.
          type: string
          required: false
        - name: primaryAffiliation
          in: query
          description: Filter by primary affiliation
          type: string
          required: false
          enum:
            - Employee
            - Other
            - Retiree
            - Student
            - Unknown
        - name: lastName
          in: query
          description: Filter by last name
          type: string
          required: false
        - name: emailAddress
          in: query
          description: Filter by email address
          type: string
          required: false
        - name: officePhoneNumber
          in: query
          description: Filter by office phone number
          type: string
          required: false
        - name: alternatePhoneNumber
          in: query
          description: Filter by alternate phone number
          type: string
          required: false
        - name: phoneNumber
          in: query
          description: Filter by any phone number
          type: string
          required: false
        - name: faxNumber
          in: query
          description: Filter by fax number
          type: string
          required: false
        - name: officeAddress
          in: query
          description: Filter by office address
          type: string
          required: false
        - name: department
          in: query
          description: Filter by department
          type: string
          required: false
        - $ref: "#/parameters/authorization"
      responses:
        "200":
          description: Array of directory entities
          schema:
            $ref: "#/definitions/DirectoryResultObjects"
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/Errors"
  /directory/{osuuid}:
    get:
      tags:
      - directory
      operationId: getByOSUUID
      description: Get entries in directory filtered by query parameters
      parameters:
        - name: osuuid
          in: path
          description: "OSUUID of the person to be fetched."
          type: string
          required: true
        - $ref: "#/parameters/authorization"
      responses:
        "200":
          description: Directory entity
          schema:
           $ref: "#/definitions/DirectoryResultObject"
        "404":
          description: Not found
          schema:
            $ref: "#/definitions/Errors"
=======
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/express-api-skeleton
produces:
  - application/json
paths:
  /pets:
    get:
      summary: List all pets
      tags:
        - pets
      description: Get all pets
      operationId: getPets
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/pageNumber'
        - $ref: '#/parameters/pageSize'
        - in: query
          name: species
          description: Search by pet species
          required: false
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PetsResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
  /pets/{id}:
    get:
      summary: Info for a specific pet
      tags:
        - pets
      description: Get pet by unique ID
      operationId: getPetById
      parameters:
        - $ref: '#/parameters/authorization'
        - name: id
          in: path
          description: Unique Pet ID
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PetResult'
        '404':
          description: PetResource not found
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
>>>>>>> skeleton/master
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
<<<<<<< HEAD
definitions:
  DirectoryResultObjects:
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/DirectoryResourceObject"
  DirectoryResultObject:
    properties:
      data:
        $ref: "#/definitions/DirectoryResourceObject"
  DirectoryResourceObject:
    properties:
      id:
        type: string
      type:
        type: string
        enum: [directory]
      attributes:
        $ref: "#/definitions/Attributes"
      links:
        $ref: "#/definitions/ResourceLinks"
  Attributes:
    properties:
      firstName:
        type: string
      lastName:
        type: string
      fullName:
        type: string
      primaryAffiliation:
        type: string
      jobTitle:
        type: string
      department:
        type: string
      departmentMailingAddress:
        type: string
      officePhoneNumber:
        type: string
      officeAddress:
        type: string
      faxNumber:
        type: string
      emailAddress:
        type: string
        format: email
      username:
        type: string
      alternatePhoneNumber:
        type: string
      osuuid:
        type: string
  ResourceLinks:
    properties:
      self:
        type: string
        format: url
=======
  pageNumber:
    name: page[number]
    in: query
    type: integer
    required: false
    description: Page number of results
    default: 1
    minimum: 1
  pageSize:
    name: page[size]
    in: query
    type: integer
    required: false
    description: Number of results to return
    default: 25
    maximum: 500
    minimum: 1
definitions:
  Meta:
    properties:
      totalResults:
        type: integer
        description: Total number of results
        example: 10
      totalPages:
        type: integer
        description: Total number of pages
        example: 10
      currentPageNumber:
        type: integer
        description: Page number of the returned results
        example: 1
      currentPageSize:
        type: integer
        description: Number of results per page
        example: 25
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
  PaginationLinks:
    properties:
      first:
        type: string
        format: url
        description: The first page of data
      last:
        type: string
        format: url
        description: The last page of data
      prev:
        type: string
        format: url
        description: The previous page of data
      next:
        type: string
        format: url
        description: The next page of data
  PetResource:
    properties:
      id:
        type: string
        description: A unique ID of pet
      type:
        type: string
        enum: [pet]
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        properties:
          name:
            type: string
            description: Name of pet
            example: Hedwig
          owner:
            type: string
            description: Name of owner
            example: Harry Potter
          species:
            type: string
            description: Species of pet
            example: Owl
  PetResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/PetResource'
  PetsResult:
    properties:
      links:
        allOf:
          - $ref: '#/definitions/SelfLink'
          - $ref: '#/definitions/PaginationLinks'
      meta:
        $ref: '#/definitions/Meta'
      data:
        type: array
        items:
          $ref: '#/definitions/PetResource'
>>>>>>> skeleton/master
  Error:
    properties:
      status:
        type: string
        description: HTTP status code
<<<<<<< HEAD
        example: 123
=======
        example: '123'
>>>>>>> skeleton/master
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
<<<<<<< HEAD
        example: 1234
=======
        example: '1234'
>>>>>>> skeleton/master
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  Errors:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
