swagger: "2.0"
info:
  title: Directory API
  description: Web API to search the OSU Online Directory.
  version: "v2"
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/directory-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v2
produces:
  - application/json
paths:
  /directory:
    get:
      tags:
        - directory
      operationId: getBySearchQuery
      description: Get entries in directory matching all terms in search query
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/pageNumber'
        - $ref: '#/parameters/pageSize'
        - name: fuzzyName
          in: query
          description: |
            Full name directory searches. Fuzzy searches each word separated by space or comma. Last and first names can be in any order, but multiword first or last name components must be ordered "First1 First2 ..."
          type: string
          required: false
        - name: lastName
          in: query
          description: Filter by last name
          type: string
          required: false
        - name: onid
          in: query
          description: Filter by ONID username
          type: string
          required: false
        - name: primaryAffiliation
          in: query
          description: Filter by primary affiliation
          type: string
          required: false
          enum:
            - Employee
            - Other
            - Retiree
            - Student
            - Unknown
        - name: emailAddress
          in: query
          description: Filter by email address
          type: string
          required: false
        - name: officePhoneNumber
          in: query
          description: Filter by office phone number
          type: string
          required: false
        - name: alternatePhoneNumber
          in: query
          description: Filter by alternate phone number
          type: string
          required: false
        - name: phoneNumber
          in: query
          description: Filter by any phone number
          type: string
          required: false
        - name: faxNumber
          in: query
          description: Filter by fax number
          type: string
          required: false
        - name: officeAddress
          in: query
          description: Filter by office address
          type: string
          required: false
        - name: department
          in: query
          description: Filter by department
          type: string
          required: false
        - $ref: "#/parameters/authorization"
      responses:
        "200":
          description: Array of directory entities
          schema:
            $ref: "#/definitions/DirectoryResultObjects"
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/Errors"
  /directory/{osuuid}:
    get:
      tags:
      - directory
      operationId: getByOSUUID
      description: Get entries in directory filtered by query parameters
      parameters:
        - name: osuuid
          in: path
          description: "OSUUID of the person to be fetched."
          type: string
          required: true
        - $ref: "#/parameters/authorization"
      responses:
        "200":
          description: Directory entity
          schema:
           $ref: "#/definitions/DirectoryResultObject"
        "404":
          description: Not found
          schema:
            $ref: "#/definitions/Errors"
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
  pageNumber:
    name: page[number]
    in: query
    type: integer
    required: false
    description: Page number of results
    default: 1
    minimum: 1
  pageSize:
    name: page[size]
    in: query
    type: integer
    required: false
    description: Number of results to return
    default: 25
    maximum: 500
    minimum: 1

definitions:
  Meta:
    properties:
      totalResults:
        type: integer
        description: Total number of results
        example: 10
      totalPages:
        type: integer
        description: Total number of pages
        example: 10
      currentPageNumber:
        type: integer
        description: Page number of the returned results
        example: 1
      currentPageSize:
        type: integer
        description: Number of results per page
        example: 25
  PaginationLinks:
   properties:
     first:
       type: string
       format: url
       description: The first page of data
     last:
       type: string
       format: url
       description: The last page of data
     prev:
       type: string
       format: url
       description: The previous page of data
     next:
       type: string
       format: url
       description: The next page of data
  DirectoryResultObjects:
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/DirectoryResourceObject"
      links:
        allOf:
          - $ref: '#/definitions/ResourceLinks'
          - $ref: '#/definitions/PaginationLinks'
      meta:
        $ref: '#/definitions/Meta'
  DirectoryResultObject:
    properties:
      data:
        $ref: "#/definitions/DirectoryResourceObject"
  DirectoryResourceObject:
    properties:
      id:
        type: string
      type:
        type: string
        enum: [directory]
      attributes:
        $ref: "#/definitions/Attributes"
      links:
        $ref: "#/definitions/ResourceLinks"
  Attributes:
    properties:
      firstName:
        type: string
        example: "Benny"
      lastName:
        type: string
        example: "Beaver"
      fullName:
        type: string
        example: "Benny Beaver"
      primaryAffiliation:
        type: string
        enum:
          - "Student"
          - "Employee"
          - "Retiree"
          - "Unknown"
      jobTitle:
        type: string
        example: "Analyst Programmer"
      department:
        type: string
        example: "Enterprise Computing Services"
      departmentMailingAddress:
        type: string
        example: "1600 Pennsylvania Ave NW, Washington, DC 20500"
      officePhoneNumber:
        type: string
        example: "+1 555 867 5309"
        description: E.164 formatted phone number.
      officeAddress:
        type: string
        example: "1600 Pennsylvania Ave NW, Washington, DC 20500"
      faxNumber:
        type: string
        example: "+1 555 867 5309"
        description: E.164 formatted phone number.
      emailAddress:
        type: string
        example: "bennybeaver@oregonstate.edu"
        format: email
      username:
        type: string
        example: "bennbeav"
      alternatePhoneNumber:
        type: string
        example: "+1 555 867 5309"
        description: E.164 formatted phone number.
      osuUid:
        type: string
        example: "55555555555"
  ResourceLinks:
    properties:
      self:
        type: string
        format: url
  Error:
    properties:
      status:
        type: string
        description: HTTP status code
        example: "400"
      title:
        type: string
        description: A short, user readable summary of the error
        example: "Not Found"
      code:
        type: string
        description: An application-specific error code
        example: "1400"
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: "https://developer.oregonstate.edu/documentation/error-reference#1234"
  Errors:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
