swagger: '2.0'
info:
  title: Directory API
  description: Web API to search the OSU Online Directory.
  version: '2.0'
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/directory-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v2
produces:
  - application/json
paths:
  /directory:
    get:
      tags:
        - directory
      operationId: getBySearchQuery
      description: Get entries in directory matching all terms in search query
      produces:
        - application/json
      parameters:
        - name: q
          in: query
          description: |
            For basic directory searches. Searches by username, full name,
            and email address.
          type: string
          required: false
        - name: primaryAffiliation
          in: query
          description: Filter by primary affiliation
          type: string
          required: false
          enum:
            - Employee
            - Other
            - Retiree
            - Student
            - Unknown
        - name: lastName
          in: query
          description: Filter by last name
          type: string
          required: false
        - name: emailAddress
          in: query
          description: Filter by email address
          type: string
          required: false
        - name: officePhoneNumber
          in: query
          description: Filter by office phone number
          type: string
          required: false
        - name: alternatePhoneNumber
          in: query
          description: Filter by alternate phone number
          type: string
          required: false
        - name: phoneNumber
          in: query
          description: Filter by any phone number
          type: string
          required: false
        - name: faxNumber
          in: query
          description: Filter by fax number
          type: string
          required: false
        - name: officeAddress
          in: query
          description: Filter by office address
          type: string
          required: false
        - name: department
          in: query
          description: Filter by department
          type: string
          required: false
        - $ref: '#/parameters/pretty'
        - $ref: '#/parameters/authorization'
      responses:
        "200":
          description: Array of directory entities
          schema:
            $ref: "#/definitions/ResultObjects"
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/Error"
  /directory/{osuuid}:
    get:
      tags:
      - directory
      operationId: getByOSUUID
      description: Get entries in directory filtered by query parameters
      parameters:
        - name: osuuid
          in: path
          description: "OSUUID of the person to be fetched."
          type: integer
          format: int64
          required: true
        - $ref: '#/parameters/pretty'
        - $ref: '#/parameters/authorization'
      responses:
        "200":
          description: Directory entity
          schema:
           $ref: "#/definitions/ResultObject"
        "404":
          description: Not found
          schema:
            $ref: "#/definitions/Error"
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
  pretty:
    name: pretty
    in: query
    type: boolean
    required: false
    description: If true, JSON response will be pretty-printed
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  ResultObjects:
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/ResourceObject"
  ResultObject:
    properties:
      data:
        $ref: "#/definitions/ResourceObject"
  ResourceObject:
    properties:
      id:
        type: string
      type:
        type: string
        example: "directory"
      attributes:
        $ref: "#/definitions/Attributes"
      links:
        $ref: "#/definitions/ResourceLinks"
  Attributes:
    properties:
      firstName:
        type: string
      lastName:
        type: string
      fullName:
        type: string
      primaryAffiliation:
        type: string
      jobTitle:
        type: string
      department:
        type: string
      departmentMailingAddress:
        type: string
      officePhoneNumber:
        type: string
      officeAddress:
        type: string
      faxNumber:
        type: string
      emailAddress:
        type: string
        format: email
      username:
        type: string
      alternatePhoneNumber:
        type: string
      osuuid:
        type: integer
        format: int64
  ResourceLinks:
    properties:
      self:
        type: string
  Error:
    properties:
      errors:
        type: array
        items:
          properties:
            status:
              type: string
              description: HTTP status code.
            links:
              properties:
                about:
                  type: string
                  format: url
                  description: Link to further information about the error.
            code:
              type: string
              description: Application specific error code.
            title:
              type: string
              description: Short summary of the error.
            detail:
              type: string
              description: A human-readable explanation specific to this occurrence of the problem.
